@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans";
    overflow-x: hidden;
}


.btn-purple{
    color: #fff;
    background-color: #8b7bf6;
    border-color: #8b7bf6;
}

.btn-purple:hover{
     background-color: #7A6DE0;
     border-color: #7A6DE0;
     color: white;
}

.btn-purple:focus, .btn-purple:active{
     background-color: #6A5fcc;
     border-color: #6A5fcc;
     box-shadow: 0 0 0 0.25rem rgba(139, 123, 246, 0.5);
     color: white;
}
.btn-outline-purple{
    color: #8b7bf6;
    border-color: #8b7bf6;
}
.btn-check:not(:checked)+.btn-outline-purple:hover{
    background-color:  white!important;
    color: #8b7bf6 !important;
    border-color: #8b7bf6 !important;
}

.btn-outline-purple:hover{
    background-color:  white!important;
    color: #7A6DE0 !important;
    border-color: #7A6DE0 !important;
}

.btn-check:checked + .btn-outline-purple,
.btn-check:active + .btn-outline-purple,
.btn-outline-purple.active,
.btn-outline-purple.active,
.show > .btn-outline-purple.dropdown-toggle{
    background-color:  #8b7bf6;
    color: white;
    border-color: #8b7bf6;
}

a{
    color: #8b7bf6;
}

.bg-purple{
   
    background-color: #8b7bf6;
    
}
.m-container{
    margin-top: 80px;
    
}

.icon-categoria{
    width: 28px;
    height: 28px;
}


