@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: "Open Sans";
    overflow-x: hidden;
}


.btn-purple{
    color: #fff;
    background-color: #8b7bf6;
    border-color: #8b7bf6;
}

.btn-purple:hover{
     background-color: #7A6DE0;
     border-color: #7A6DE0;
     color: white;
}

.btn-purple:focus, .btn-purple:active{
     background-color: #6A5fcc;
     border-color: #6A5fcc;
     box-shadow: 0 0 0 0.25rem rgba(139, 123, 246, 0.5);
     color: white;
}

a{
    color: #8b7bf6;
}

.bg-purple{
   
    background-color: #8b7bf6;
    
}


